html {
  
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 75px 1fr 50px;
  grid-template-areas: 
  "nav"
  "main"
  "footer"
  ;
}

a {
  color: black;
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */

nav {
  grid-area: nav;
  color: #b3b3d6;
  background-color: #2f2f4d;
}

nav a{
  color: #b3b3d6;
}

nav a:hover{
  color: #dcdce9;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
}

footer {
  display: flex;
  grid-area: footer;
  color: #b3b3d6;
  background-color: #2f2f4d;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.right-nav{
  font-weight: bold;
  margin-right: 0;
}

.right-nav a{
  padding: 0 10px;
}

.index-card-holder{
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.index-card{
  margin: 5px;
  width: 250px;
  height: 300px;
  border: solid;
  border-color: #2f2f4d;
  border-radius: 10px;
  border-width: 3px;
  background-color: #b7b7e7;
}

.detail-card{
  margin: 5px;
  width: 250px;
  height: 300px;
  border: solid;
  border-color: #2f2f4d;
  border-radius: 10px;
  border-width: 3px;
  background-color: #b7b7e7;
}

.index-card:hover {
  text-decoration: none;
  background-color: #ddddf0;
}
